body{ margin:0px auto;
		padding:0px;
}

/*------------------------------------------------------头部---------------------------------------------------*/





#top{ height:150px;
		width:945px;
		margin:0px auto;
		background:url(../images/top.jpg) no-repeat 0px 0px;
	}
	
#top a:hover{ color:#800000
	}

#top_1{ height:20px;
		width:935px;
		margin:0px auto;
		border:1px solid #6d9576;
	}
	
#top_1 ul li{ list-style:none;
				float:right;
				position:relative;top:-20px;
				margin:8px;
}	

#top_1 ul li a { color:#FFF;
				font-size:12px;
				text-decoration:none;
	}
	
.dz{ position:relative;left:-210px;}
	
.gr{ background:url(../images/gwc.jpg) no-repeat 0px 2px; height:15px; width:19px; position:relative;left:5px;}
.gw{ background:url(../images/gr.jpg) no-repeat 0px 2px; height:15px; width:19px; position:relative;left:5px;}

#top_2{
		position:relative;left:260px;
		top:60px;
		width:470px;
		height:30px;
	}
	
		
#ss{ height:26px;
width:400px;
float:left;
border:1px solid #fff;


	
		}

#top_2 img{ border:1px solid #CCC;position:relative;top:0px;
			 }


#top_3{ height:20px;
		width:450px;
		margin:0px auto;
		position:relative;top:65px;left:6px;
		color:#FFF;
		font-size:13px;
	}
	
	
#top_3 ul li{ list-style:none;
				float:left;
				position:relative;top:-19px; left:-45px;
				margin:10px;
}	

#top_3 ul li a { color:#EEE;
				font-size:12px;
				text-decoration:none;
				position:relative;top:0px;
	}

	
#nav{ height:35px;
		width:945px;
		margin:0px auto;
		background:url(../images/nav.jpg) no-repeat 0px 0px;
	}
#nav ul{ list-style:none; 
		margin:0px auto;
		width:450px;
		position:relative;top:-12px;
		}

#nav ul li{ 
		float:left;
			margin:15px;
	
			
}
	
#nav ul li a{ text-decoration:none;
				color:#FFF;
				display:block;
				line-height:32px;
				font-size:20px;
				font-family:"楷体";
				

}	

#nav ul li a:hover{ background:url(../images/cc.gif) no-repeat 0px 0px;}
	
#images{ height:120px;
		width:945px;
		margin:0px auto;
		position:relative;top:40px;
	}	

	

/*------------------------------------------------------头部---------------------------------------------------*/







/*------------------------------------------------------身体---------------------------------------------------*/

#middle{ height:2410px;
		width:945px;
		margin:0px auto;
		position:relative;top:100px;
	}



/*------------------------------------------------------左边身体---------------------------------------------------*/

#left{ height:357px;
		width:200px;
		float:left;
		position:relative;top:1px;
		border:1px solid #6e9576;
	}

#left_1{ height:30px;
		width:200px;
		border:1px solid #000;
	}

  #left_spfl_1{float:left;
width: 201px; 
 height:40px;
  background-color;
   font-family:"楷体"; 
   font-size:18px; 
   color:#FFF;
   background-color:#6e9576;
  line-height:40px;
  position:relative;top:-17px;
  }



#left_spfl_2{
width: 200px; 
 height:38px;
  background-color;
   font-family:"楷体"; 
   font-size:16px; 
   color:#666;
   background-color:#FFF;
  line-height:40px;  
  text-align:center;

   }
   
.mdd{ border-bottom:1px solid #CCC;}  

.mdd h1{ font-size:16px; font-weight:400;position:relative;top:-40px;left:60px; width:80px;}
 
.h{ line-height:60px;z-index:9998; }

   #left_spfl_2:hover{ color:#F60;
   						font-weight:600; 
						background-color:#F3F3F3;
						border-bottom:1px solid #6e9576;
						border-top:1px solid #6e9576;
						border-left:1px solid #6e9576; 
   						
   }
 #left_spfl_2:hover{ position:relative;top:-1px;}  
  
  #left_spfl_2 h1:hover{font-weight:600; }
   
#left_spfl a{z-index:9999;  position: relative;left:0px;top:0px;} 
 
   

#left_spfl ul li{ list-style:none;
					position:relative;
					left:-40px;
					height:40px;
					line-height:40px;
					 position:relative;top:23px;
} 

#left_spfl ul li a{ text-decoration:none;}
 
 
#left_spfl ul li ul {position:relative;left:200px;top:-48px;display:none;background-color:#FFF; z-index:9998; width:450px;  height:318px; border:1px solid #6e9576;} 
 
 #left_spfl ul li ul li a{position:relative;top:-30px;left:20px;  }
 
.z1{ display:block;  color:#F60; }

.z2{ display:block; color:#F60; }

#yunnan{ height:100px;
		width:200px;
		position:relative;top:70px;left:1px;
		
		}
		
#xizang{ height:100px;
		width:210px;
		position:relative;top:82px;left:1px;
		
		}
#uu0{position:relative;top:8px;}
#uu1{ position:relative;top:-32px;}
#uu2{ position:relative;top:-72px;}
#uu3{ position:relative;top:-112px;}


#uu4{ position:relative;top:-152px;}
#uu5{ position:relative;top:-192px;}
#uu6{ position:relative;top:-232px;}
#uu7{ position:relative;top:-272px;}


.a1 { color:#000; font-size:13px; margin:6px;}
dd{ height:80px; width:390px; position:relative;top:-10px;}
dd a:hover{ color:#F60;}




#left_spfl ul li:hover ul{ display:block; }




/*------------------------------------------------------左边身体---------------------------------------------------*/





/*------------------------------------------------------中间身体---------------------------------------------------*/

#right{ height:360px;
		width:743px;

		float:left;
		position:relative;left:13px;top:1px;
	}

#right_img{ height:270px;
			width:743px;	
					margin:0px auto;
	}

#right_2{ height:90px;
			width:730px;
	}
	
#right_2 ul{ list-style:none; 
			margin:0px auto;
 			padding:0px;
			position:relative;top:0px;
}

#right_2 ul li{float:left; height:80px;
				width:69px;
				margin:5px;
}




#right_2 dd a{ text-decoration:none;
				color:#666
 }
	
#right_2 dd a:hover{ color:#F60}
	
#right_2 dt{ position:relative;top:-15px; 
}	

#right_2 img {border:none;}

/*------------------------------------------------------中间身体---------------------------------------------------*/






/*------------------------------------------------------右边身体---------------------------------------------------*/

#center{ height:2000px;
		width:945px;
		float:left;
		position:relative;top:10px;
	
			}
	
#center_1{ height:100px;
		width:944px;
		border:1px solid #6e9576;
		float:left;
		
	}
.center_1{ position:relative;top:20px;
}
	

#center_1 ul{ position:relative;top:5px; width:900px;
	}

#center_1 ul li{ float:left; 
			list-style:none;
			font-size:15px;
			margin:5px;
			color:#F60;
			
	}
	
#center_1 ul li a{ text-decoration:none;
					font-size:12px;
					color:#666;
					position:relative;top:1px;
}

#center_1 ul li a:hover{ color:#F60;}



#center_2{ height:640px;
		width:945px;
		float:left;
		
	}
	
#center_2 img{ border:none;}
	
#center_2_1{height:400px;
		width:295px;
		border:1px solid #E6E6E6;
		float:left;
		position:relative;top:5px;
		background:url(../images/fz1.jpg) no-repeat 0px 0px;
		}
#center_2_1:hover{background:url(../images/fz2.jpg) no-repeat 0px 0px;}		


#center_2_2{height:310px;
		width:335px;
		border:1px solid #E6E6E6;
		float:left;
		position:relative;left:5px;top:5px;
		background:url(../images/fz5.jpg) no-repeat 0px 0px;
		}
#center_2_2:hover{background:url(../images/fz6.jpg) no-repeat 0px 0px;}			


#center_2_3{height:220px;
		width:300px;
border:1px solid #E6E6E6;
		float:left;
		position:relative;left:10px;top:5px;
		background:url(../images/fz7.jpg) no-repeat 0px 0px;
		}
#center_2_3:hover{background:url(../images/fz8.jpg) no-repeat 0px 0px;}			
		
		
#center_2_4{height:400px;
		width:300px;
		border:1px solid #E6E6E6;
		float:left;
		position:relative;left:10px;top:10px;
		background:url(../images/fz3.jpg) no-repeat -5px 0px;
		}
#center_2_4:hover{background:url(../images/fz4.jpg) no-repeat -5px 0px;}	

#center_2_5{height:220px;
		width:295px;
		border:1px solid #E6E6E6;
		float:left;
		position:relative;top:-213px;
		
		background:url(../images/fz11.jpg) no-repeat 0px 0px;
		}
#center_2_5:hover{background:url(../images/fz12.jpg) no-repeat 0px 0px;}	
		
		
#center_2_6{height:310px;
		width:335px;
		border:1px solid #E6E6E6;
		float:left;
		position:relative;top:-303px;left:5px;
		background:url(../images/fz9.jpg) no-repeat 0px 0px;
		}
#center_2_6:hover{background:url(../images/fz10.jpg) no-repeat 0px 0px;}


#center_3{ height:410px;
		width:945px;
		float:left;
		position:relative;top:10px;
	}
#center_3 img{ border:none;}	
	
#center_3_1{ height:405px;
			width:200px;
			
			float:left;
	}	
	
	
#center_3_1 dl{ position:relative;left:-1px;top:-2px;
				height:200px;
				width:200px;
				float:left;
				margin:0px auto;
}

#center_3 dl dt{ height:160px;
					width:200px;
					
				
	}	
	
#center_3 dl dd{ margin:0px;
			 height:38px;
					width:200px;
					position:relative;top:1px;

					text-align:center;
					line-height:38px
	}	
	
#center_3 dl dd a{ color:#333; text-decoration:none;
					font-size:14px;
}	
#center_3 dl dd a:hover{ color:#F60}	
	
	
#center_3_2{ height:405px;
			width:520px;
			
			float:left;
			position:relative;left:10px;
	}

	
#center_3_3{ height:405px;
			width:200px;
			
			float:right;
	}		
#center_3_3 dl{ position:relative;left:-1px;
				height:200px;
				width:200px;
				float:left;
				margin:0px auto;
}

#center_4{ height:350px;
		width:945px;
		float:left;
		position:relative;top:30px;
	}

#center_4_1{ height:345px;
		width:690px;
		float:right;
		border:1px solid #CCC;

	}
#center_4  img { border:none;}

#center_4_2{ height:160px;
		width:240px;
		float:left;
	}

#center_4_3{ height:160px;
		width:240px;
		float:left;
		position:relative;top:22px;
	}
	
	
#center_5{ height:160px;
		width:945px;
		float:left;
		position:relative;top:0px;
		text-align:center;
		border:1px solid #CCC;
	}
#center_5 img{ border:none;}
	
#center_5 ul{ list-style:none;
			 width:945px;
			 float:left;
			 padding:0px;
}

#center_5 ul li { float:left;
			 	height:70px;
				width:103px;
}

#center_6{ height:170px;
		width:945px;
		float:left;
		position:relative;top:80px;
		border:1px solid #ccc;
	}
#center_6 img{ border:none;}

#center_6 h1{ font-size:18px;
				color:#F60;
				font-family:"楷体";
				font-weight:400;
	}
#center_6 dl{ float:left; margin:0px auto;position:relative;left:80px;
				
 }

#center_6 dt{ height:130px;
				width:130px;

				text-align:center;
}

#center_6 dd{ float:left;
				width:130px;
				height:40px;

				position:relative;top:0px;left:-40px;
				text-align:center;
				line-height:40px;
}

#center_6 dd a{ text-decoration:none;
				color:#666;
				font-size:13px;
}

#center_6 dd a:hover{ color:#F60;}
/*------------------------------------------------------右边身体---------------------------------------------------*/




/*------------------------------------------------------身体---------------------------------------------------*/



#youlian{ height:30px;
			width:945px;
			margin:0px auto;
			position:relative;top:130px;
			font-size:13px;
			line-height:30px;
}


#youlian ul{ list-style:none; margin:0px auto;
	}

#youlian ul li{ float:left; color:#666;
	}
#youlian ul li a{ text-decoration:none;
						margin:10px;
						color:#000;
						font-size:13px
	}
	
#youlian ul li a:hover{ color:#F60;
	}


/*------------------------------------------------------底部---------------------------------------------------*/
#bottom{height:320px;
		width:1337px;
		margin:0px auto;		
		position:relative;
		top:130px;
		background-color:#6d9576;
		border-top:1px solid #ccc;
	}
	
#bottom_1{ width:935px;
			height:215px;
			margin:0px auto;
		
	}	

#bottom_1_1{ width:184px;
			height:215px;
			float:left;

			
	}	
	
#bottom_1_1 dl{ text-align:center;
				font-size:14px;
				color:#FFF;
				
	}
	
.bottom_1_1 dl li{ position:relative;left:10px;}
	
#bottom_1_1 dl dd ul{ list-style:none;
						position:relative;
						left:-30px;
						top:10px;
						width:230px;
						text-align:left;
	}

#ul1{ position:relative;
		left:-14px;
		width:200px;
	}

#bottom_1_1 dl dd ul li { margin:15px;}
	
#bottom_1_1 dl dd ul li a{ font-size:12px;
							text-decoration:none;
							color:#FFF;							
	}
	
#bottom_1_1 dl dd ul li a:hover{ color:#000;}	


#bottom_2{ margin:0px auto;
			text-align:center;
			position:relative;
			top:-20px;
			width:600px;
			position:relative;top:0px;
			
	}

#bottom_3{ margin:0px auto;
			font-size:13px;
			text-align:center;
			position:relative;
			top:10px;
			width:600px;
			color:#000;
	}





/*------------------------------------------------------底部---------------------------------------------------*/